In [2]:
"""
Our first program in python
"""
"""
This is a commentary of several lines 
"""
"""
The scrips the python will be executed by 
up to down
"""
print("Hello word")
print("This is the second line!")
#In python the code can be sepated in several lines
sum=2+\
2
print(sum)

Hello word
This is the second line!
4

In [3]:
print("""
This is a commentary
""")

This is a commentary

In [4]:
"""
Python has different types of variable basic there
are part of the nucleo of lenguage, are called primitives
"""
"""
The primitives more commons are strings, number and booleans
"""

'\nThe primitives more commons are strings, number and booleans\n'

In [6]:
"""
Strings 
"""
print("These are use for represent a text")
var_str="Hello"
var_str2="Word"
print(var_str)
print(var_str2)
print(type(var_str))
print(type(var_str2))

These are use for represent a text
Hello
Word
<class 'str'>
<class 'str'>

In [7]:
"""
The string are join to create strings more long.
There are many ways to join strings called interpolation strings
"""
var_str_join=var_str+" "+var_str2
print(var_str_join)

Hello Word

In [10]:
"""
Also can multiply strings
"""
n="nun"
print(n*10)

nunnunnunnunnunnunnunnunnunnun

In [12]:
"""
The method  format, allow insert string
into other strings
"""
name="Jose"
city="Atlixco"
presentation="Hello my name is {}, i am from {}".format(name,city)
print(presentation)

Hello my name is Jose, i am from Atlixco

In [13]:
"""
Using the method format we can round number 
"""
import math
pi_str="The first digits of pi are: {}".format(math.pi)
print(pi_str)
#also we rond the number to two decimal
pi_str="The first digits of pi are {:.2f}".format(math.pi)
print(pi_str)
#if pass 0 decimal to integer
pi_str="The first digits of pi are: {:.0f}".format(math.pi)
print(pi_str)

The first digits of pi are: 3.141592653589793
The first digits of pi are 3.14
The first digits of pi are: 3

In [15]:
"""
Other way to interpolar strings, only python 3.6 to 
onwards is the reference directy of the variable of 
the string, convert to f string as
"""
presentation2=f"Hello my name is {name}, i am from {city}"
print(presentation2)

Hello my name is Jose, i am from Atlixco

In [17]:
"""
More operation with strings
"""
title="introduction to PYTHON"
print("Convert the string to capital letters")
print(title.upper())
print("Convert the string to lowercase")
print(title.lower())
print("Set the first letter to capilal letter")
print(title.capitalize())

Convert the string to capital letters
INTRODUCTION TO PYTHON
Convert the string to lowercase
introduction to python
Set the first letter to capilal letter
Introduction to python

In [18]:
name_with_commas=",manuel,"
print("we use strip to delete charapter in the start and the end of the string")
print(name_with_commas.strip(','))
print("we use replace to replace parts of strings")
print(name_with_commas.replace("nuel","riano"))
print("All methods can will be chained")
print(name_with_commas.strip(',').replace("nuel","riano"))

we use strip to delete charapter in the start and the end of the string
manuel
we use replace to replace parts of strings
,mariano,
All methods can will be chained
mariano

In [19]:
colors_str="red|yellow|green|blue"
colors_list=colors_str.split('|')
print(colors_list)
print(type(colors_list))

['red', 'yellow', 'green', 'blue']
<class 'list'>

In [21]:
"""
Numbers 
Python has to basic type of number int(integers) and 
float(decimal)
"""
integer =23
print(type(integer))
decimal=1.5
print(type(decimal))

<class 'int'>
<class 'float'>

In [22]:
print("Convert integer to string")
print(type(str(integer)))
print("two+ "+str(decimal))

Convert integer to string
<class 'str'>
two+ 1.5

In [24]:
print("Also we can use number in iterpolation of strings")
name="Jose"
city="Atlixco"
age=33
print(f"Hello my name is {name}, i am from {city}, my age is {age}")

Also we can use number in iterpolation of strings
Hello my name is Jose, i am from Atlixco, my age is 33

In [25]:
print("We also can convert strings to numbers")
number_str="24"
print(int(number_str)+5)
print(float(number_str)+5)

We also can convert strings to numbers
29
29.0

In [27]:
print("The same way we can use the interpolation")
number_string_valid="24.5"
print(float(number_string_valid))

The same way we can use the interpolation
24.5